HOST_PASSWORD=1234
MAX_DELAY=5000
PORT=3000
API_KEY=change-me
FALLBACK_PLAYLIST_URI=
BAN_APPEAL_URL=https://nekosunevr.co.uk/?redirect=discord
NEXT_PUBLIC_BAN_APPEAL_URL=https://nekosunevr.co.uk/?redirect=discord
SOCKET_PING_INTERVAL_MS=10000
SOCKET_PING_TIMEOUT_MS=20000
PROGRESS_UPDATE_MIN_INTERVAL_MS=5000
PROGRESS_UPDATE_DRIFT_TOLERANCE_MS=1500
DEBUG_SOCKET_EVENTS=false
DEBUG_PLAYBACK=false
