ADMIN_PASSWORD=
HOST_PASSWORD=
ALLOW_GLOBAL_HOST_PASSWORD=false
MAX_DELAY=5000
PORT=3000
API_KEY=
FALLBACK_PLAYLIST_URI=
BAN_APPEAL_URL=https://nekosunevr.co.uk/?redirect=discord
NEXT_PUBLIC_BAN_APPEAL_URL=https://nekosunevr.co.uk/?redirect=discord
SOCKET_PING_INTERVAL_MS=10000
SOCKET_PING_TIMEOUT_MS=20000
PROGRESS_UPDATE_MIN_INTERVAL_MS=5000
PROGRESS_UPDATE_DRIFT_TOLERANCE_MS=1500
DESYNC_GRACE_MS=3000
DESYNC_RESYNC_MIN_INTERVAL_MS=5000
MAX_QUEUE_LENGTH=100
MAX_SESSIONS=250
API_SESSION_CREATE_LIMIT=20
API_REQUEST_LIMIT=60
SOCKET_QUEUE_EVENT_LIMIT=30
DEBUG_SOCKET_EVENTS=false
DEBUG_PLAYBACK=false
